- content_for :stylesheets do
  = stylesheet_link_tag 'iform'
- content_for :javascripts do
  :javascript
    $(function(){    
        $('span, a, input').hoverbox();    
    });

    $(document).ready(function(){
    	$("ul#navigation li").removeClass("selected");
    	$("ul#navigation li##{tab_selected}").addClass("selected");
    	return false;
    });
- content_for :footer do
  #footer
    %br/
    %br/
    %a{:rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/"}
      %img{:alt => "Creative Commons License", :style => "border-width:0", :src => "http://i.creativecommons.org/l/by/3.0/88x31.png"}
    %br/
    This work is licensed under a
    %a{:rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/"} Creative Commons Attribution 3.0 Unported License.
= render :template => 'layouts/application'
