- content_for :stylesheets do
  = stylesheet_link_tag 'iform'
- content_for :javascripts do
  :javascript
    $(function(){    
        $('span, a, input').hoverbox();    
    });
= render :template => 'layouts/application'
