- content_for :stylesheets do
  = stylesheet_link_tag 'iform'
  = stylesheet_link_tag 'blueprint/plugins/link-icons/screen.css'
- content_for :javascripts do
  :javascript
    $(function(){
    
        $('span, a').hoverbox();
    
    });
= render :template => 'layouts/application'
